ul{
	list-style-type:none;
	display: inline;
}

li {
	padding: 8px;
    float: left;
}

#navbar a {
    display: block;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #dddddd;
}

h1{
	text-align: center;
}

#News, #Cooporate_Info,#Locations,#Partners, #Services{
	width: 350px;
	height: 150px;
	margin-left: 50;
	padding: 15px;
	float: left;
	clear: right;
}

#wrap{
	width: 100%;
	margin:50px;
	margin-bottom: 50px;
	display: block;
	position: relative;
}

footer{	
	width: 100%;
	margin-top: 50px;
	text-align: center;
	float: left;
	clear: both;
}